*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.box{
	width: 40%;
	height: 300px;
	color: gray;
}

.box p{
	color: initial;
	background-color: initial;
}

/*
@media screen and (max-width: 480px){
	.box{
		height: auto;
	}
}
*/