*{
	margin:  0;
	padding: 0;
}

html,body{
	height: 100%;
}
.bg{
	width: 50%;
	height: 50%;
	margin: 0 auto;
	/*Backgrounds*/
	background-color: red;/*#ccc,rgb(200,200,200),rgba(200,200,200,0.4)*/
	background-image: url('../imagens/danki_bg.jpg');
	background-size: cover;/*cover,contain*/
	background-position: 30px;
	background-repeat: no-repeat;/*no-repeat,repeat-x repeat-y*/

}