*{
	margin: 0;
	padding: 0;
}

.menu{
	width: 900px;
	margin: 30px auto;
	text-align: center; 
	/*padding-left: 40px;
	padding-right: 40px;
	padding-top: 90px;
	padding-bottom: 90px;*/
}

.menu > a{
	color: red;
	padding-right: 8px;
	border-right: 3px solid green;
	text-decoration: none;
	font-size: 20px;
	margin: 0 10px;
}